<dl>
    {% for event in events %}
        <dt>{{ event.summary }}</dt>
        <dd>{{ event.description|replace('\n\n', '<br>') }}</dd>
        <dd>{{ event.dtstart|datetime('full') }}</dd>
        <dd>{{ event.dtend|datetime('full') }}</dd>
        {% if event.url %}
            <dd class="footer"><a href="{{ event.url }}">See more</a></dd>
        {% endif %}
    {% endfor %}
</dl>
