<dl class="event-calendar">
    {% for event in events %}
    <div itemprop="event" itemscope itemtype="http://schema.org/Event">
        <dt itemprop="name">{{ event.summary }}</dt>
        <dd itemprop="location">{{ event.location| urlize | replace('\n', '<br>') }}</dd>
        <dd itemprop="description">{{ event.description| replace('\n', '<br>') }}</dd>
        <div class="event-date">
            <dd><meta itemprop="startDate" content="{{ event.dtstart|datetime('iso') }}">Am: {{ event.dtstart|datetime('short') }}</dd>
            {% if event.dtend %}
                <dd><meta itemprop="endDate" content="{{ event.dtend|datetime('iso') }}">Bis: {{ event.dtend|datetime('short') }}</dd>
            {% endif %}
            {% if event.url %}
                <dd class="footer"><a href="{{ event.url }}">Mehr...</a></dd>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</dl>
