# File to read VEVENTS from
CALENDAR_FILENAME = "mycal.ics"

# When calculating recurring events, how many should we show?
CALENDAR_DAYS_IN_PAST = 0
CALENDAR_DAYS_IN_FUTURE = 90

# File to render to
CALENDAR_OUTPUT_FILENAME = "events.tmpl"
