{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="img/fav.png">
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body>
<div class="main-wrapper-first">
			<div class="hero-area relative">
				<header>
					<div class="container">
						<div class="header-wrap">
							<div class="header-top d-flex justify-content-between align-items-center">
								<div class="logo">
									<a href="/"><img src="/assets/img/logo_header.png" alt=""></a>
								</div>
								<div class="main-menubar d-flex align-items-center">
								<!-- Menubar -->
									<nav>
										<ul class="navbar-nav mr-auto">
											{{ base.html_navigation_links_entries(navigation_links) }}
											{{ template_hooks['menu']() }}
										</ul>
									</nav>
									<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
								<!-- End of Menubar -->
								</div>
							</div>
						</div>
					</div>
				</header>
				<div class="banner-area">
					<div class="container">
						<div class="row justify-content-center generic-height align-items-center">
							<div class="col-lg-8">
								<div class="banner-content text-center">
									<h1 class="text-white text-uppercase mb-10">{{ title|e }}</h1>
									<p class="text-white">{{ description|e }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<div class="main-wrapper">
	<div class="working-process-area">
		<div class="container">
			<!--Body content-->
			{{ template_hooks['page_header']() }}
			{% block content %}{% endblock %}
			<!--End of body content-->
		</div>
	</div>
	<!-- Start Footer Widget Area -->
	<section class="footer-widget-area">
		<footer>
			<div class="container">
				<div class="footer-content d-flex justify-content-between align-items-center flex-wrap">
					<div class="logo">
						<a href="/"><img src="/assets/img/logo_footer.png" alt=""></a>
					</div>
		            <div class="copy-right-text">{{ content_footer }}</div>
					{{ template_hooks['page_footer']() }}
					<div class="footer-social">
						<a href="https://www.facebook.com/lugfl/"><i class="fa fa-facebook"></i></a>
						<a href="https://plus.google.com/112663745993837028436"><i class="fa fa-google-plus"></i></a>
					</div>

				</div>
			</div>
		</footer>
	</section>
	<!-- End Footer Widget Area -->
</div>

{{ base.late_load_js() }}
    <!-- fancy dates -->
    <script>
    moment.locale("{{ momentjs_locales[lang] }}");
    fancydates({{ date_fanciness }}, {{ js_date_format }});
    </script>
    <!-- end fancy dates -->
    {% block extra_js %}{% endblock %}
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});
    </script>
{{ body_end }}
{{ template_hooks['body_end']() }}
</body>
</html>
